:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #ff0070;
  --title-color: #DB00FF;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --main-text-color: #F1B2CE;
  --headline-color: #000028;
  --s-gap: 10px;
  --m-gap: 40px;
  --l-gap: 50px;
}