:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --main-text-color: #f1b2ce;
  --headline-color: #000028;
  --visibility: ;
  --border-color: var(--accent-color);
  --menu-color: var(--accent-color);
}