:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #ff0070;
  --title-color: #DB00FF;
  --main-text-color: #F1B2CE;
  --headline-color: #000028;
  --visibility: ;
  --border-color: var(--accent-color);
  --menu-color: var(--accent-color);
  --headline-color: var(--accent-color);
}