:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --main-text-color: #353430;
  --headline-color: #353430;
  --visibility: none;
  --border-color: var(--main-text-color);
}

.headline__accent {
  color: var(--main-text-color);
}

.header__theme-menu-button {
  color: var(--main-text-color);
}

.header__theme-menu-button:hover {
  border: 2px solid color-mix(in srgb, var(--main-text-color) 50%, transparent);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--main-text-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--main-text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --main-text-color: #353430;
    --headline-color: #353430;
    --visibility: none;
    --border-color: var(--main-text-color);
  }

  .headline__accent {
    color: var(--main-text-color);
  }

  .header__theme-menu-button {
    color: var(--main-text-color);
  }

  .header__theme-menu-button:hover {
    border: 2px solid
      color-mix(in srgb, var(--main-text-color) 50%, transparent);
  }

  .header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--main-text-color);
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--main-text-color);
  }
}
