.page {
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no repeat;
  background-attachment: fixed;
  background-color: var(--bg-color);
  color: var(--main-text-color);
  font-family: "IBM Plex mono", serif;
  font-size: 1.125em;
  display: block;
  gap: var(--m-gap);
  padding: var(--s-gap);
  inline-size: 100vw;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
}

.header::before {
  content: "";
  border-inline-end: 1px solid var(--border-color);
  border-block-start: 1px solid var(--border-color);
  block-size: 25px;
  inline-size: 25px;
  justify-self: end;
}

.header::after {
  content: "";
  border-inline-start: 1px solid var(--border-color);
  border-block-end: 1px solid var(--border-color);
  block-size: 25px;
  inline-size: 25px;
}

.bulb {
  color: var(--accent-color);
  position: absolute;
  justify-self: end;
  margin-inline-end: 28px;
  display: var(--visibility);
}

.bulb::after {
  content: "";
  position: absolute;
  align-self: center;
  margin-left: 10px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px color-mix(in srgb, var(--accent-color) 40%, transparent);
  filter: blur(1px);
  background-color: var(--accent-color);
  display: var(--visibility);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 2px solid color-mix(in srgb, var(--accent-color) 50%, transparent);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color);
}

.title {
  color: var(--title-color);
  font-size: var(--title-size);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
}

.title__description {
  block-size: fit-content;
  font-weight: 700;
}

.title__decor {
  background-color: var(--accent-color);
  color: var(--headline-color);
  font-size: 1em;
}

.content {
  display: grid;
  gap: var(--l-gap);
  align-self: center;
}

.headline__accent {
  color: var(--accent-color);
  font-size: 1em;
}

.segment {
  display: grid;
  gap: 20px;
}

.card__list {
  display: grid;
  gap: 20px;
}

.card {
  display: grid;
  gap: 10px;
}

.text__link {
  text-shadow: 2px 2px #ff0070;
  text-decoration: none;
}

.text__link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.text__link:focus-visible {
  outline: none;
  border: 1px solid var(--main-text-color);
}

.advices__list-item {
  background-color: var(--accent-color);
  color: var(--headline-color);
  font-weight: 400;
}

.advices__list .title__decor {
  font-weight: 700;
}

.gallery,
.gallery__list {
  display: grid;
  gap: var(--s-gap);
}

.gallery__picture,
.gallery__item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
}

.footer__title {
  align-self: center;
  justify-self: center;
}

.footer::before {
  content: "";
  border-inline-end: 1px solid var(--border-color);
  border-block-start: 1px solid var(--border-color);
  block-size: 25px;
  inline-size: 25px;
  justify-self: end;
}

.footer::after {
  content: "";
  border-inline-start: 1px solid var(--border-color);
  border-block-end: 1px solid var(--border-color);
  block-size: 25px;
  inline-size: 25px;
  align-self: end;
}

@media (min-width: 768px) or (min-width: 1024px) {
  .title__description {
    inline-size: 50%;
    justify-self: end;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-auto-flow: dense;
  }

  .gallery__item:nth-child(1) {
    grid-column: span 2;
  }

  .gallery__item:nth-child(2) {
    grid-row: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-row: 2 / 4;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2 / 4;
  }

  .advices__list,
  .reasons__list {
    grid-column: 2 span;
  }
}

@media (min-width: 768px) {
  .advices,
  .reasons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: fit-content;
  }
}

@media (min-width: 1024px) {
  .header {
    grid-template-rows: 0 auto;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: baseline;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .reducing__things__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .reducing__things__list .title__decor {
    max-block-size: min-content;
  }

  .card {
    align-content: start;
  }
}
