.page {
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg-color);
  color: var(--main-text-color);
  font-family: "IBM Plex mono", serif;
  font-size: 1.125em;
  display: grid;
  grid-template-columns: 1fr;
  inline-size: 100%;
  line-height: 23.4px;
  background-size: cover;
  justify-self: center;
}

.header,
.content,
.footer {
  padding: 0 var(--s-gap);
}

.content,
.footer {
  margin-block-start: var(--m-gap);
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding-block: var(--s-gap);
}

.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::before {
  content: "";
  border-inline-end: 1px solid var(--border-color);
  border-block-start: 1px solid var(--border-color);
  justify-self: end;
  align-self: baseline;
}

.decorated-zone::after {
  content: "";
  border-inline-start: 1px solid var(--border-color);
  border-block-end: 1px solid var(--border-color);
  align-self: end;
}

.bulb {
  color: var(--accent-color);
  position: absolute;
  justify-self: end;
  margin-inline-end: 28px;
  display: var(--visibility);
  align-self: baseline;
}

.bulb::after {
  content: "";
  position: absolute;
  align-self: center;
  margin-left: 10px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px color-mix(in srgb, var(--accent-color) 40%, transparent);
  filter: blur(1px);
  background-color: var(--accent-color);
  display: var(--visibility);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  max-block-size: 98px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--menu-color);
  block-size: 26px;
  min-inline-size: 70px;
}

.header__theme-menu-button:hover {
  outline: 1px solid color-mix(in srgb, var(--border-color) 50%, transparent);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--border-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--border-color);
}

.title {
  color: var(--title-color);
  font-size: var(--title-size);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
}

.title__description {
  block-size: fit-content;
  font-weight: 700;
}

.title__decor {
  background-color: var(--accent-color);
  color: var(--headline-color);
  font-size: 1em;
}

.content {
  display: grid;
  gap: var(--l-gap);
  align-self: center;
  font-weight: 400;
}

.headline__accent {
  color: var(--menu-color);
  font-size: 1em;
}

.segment {
  display: grid;
  gap: 20px;
}

.card__list {
  display: grid;
  gap: 20px;
  justify-content: center;
}

.card {
  display: grid;
  gap: 10px;
  font-size: 1em;
}

.text__link {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
}

.text__link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.text__link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.advices__list-item {
  background-color: var(--accent-color);
  color: var(--headline-color);
  font-weight: 400;
}

.advices__list .title__decor {
  font-weight: 700;
}

.gallery,
.gallery__list {
  display: grid;
  gap: var(--s-gap);
  grid-template-columns: 1fr;
}

.gallery__list {
  grid-template-rows: 142px 355px 237px 355px 237px;
}

.gallery__picture,
.gallery__item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  padding-block: var(--s-gap);
}

.footer__title {
  align-self: center;
  justify-self: center;
}

@media (min-width: 768px) or (min-width: 1024px) {
  .header {
    padding-inline-start: 0;
    align-items: initial;
  }

  .header::after {
    margin-left: var(--s-gap);
  }

  .title__description {
    inline-size: calc(50% - (var(--s-gap) / 2));
    justify-self: end;
  }

  .advices__list,
  .reasons__list,
  .advices__subtitle {
    grid-column: 2 / -1;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
  }

  .gallery__item:nth-child(1) {
    grid-column: span 2;
    min-height: 192px;
  }

  .gallery__item:nth-child(2) {
    grid-row: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-row: 2 / 4;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2 / 4;
  }
}

@media (min-width: 768px) {
  .header,
  .footer {
    block-size: max(100vh, 1024px);
  }

  .header,
  .footer,
  .content {
    padding-inline-end: var(--s-gap);
  }

  .title__description {
    align-self: center;
  }

  .header__theme-menu {
    align-self: center;
  }

  .reasons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: fit-content;
  }

  .advices__title,
  .reasons__title {
    min-inline-size: 236px;
  }

  .reducing__things__title {
    inline-size: min-content;
  }

  .advices {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "title subtitle"
      "title list";
  }

  .advices__title {
    grid-area: title;
  }

  .advices__subtitle {
    grid-area: subtitle;
  }

  .advices__list {
    grid-area: list;
  }

  .gallery__list {
    grid-template-rows: 192px 229px 318px;
  }
}

@media (min-width: 1024px) {
  .header,
  .footer {
    block-size: max(100vh, 768px);
  }

  .header__theme-menu {
    justify-self: center;
    display: grid;
    min-block-size: 299px;
    margin-inline-start: var(--s-gap);
  }

  .header__theme-menu-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: baseline;
  }

  .card {
    align-content: start;
  }

  .advices__title,
  .reasons__title {
    inline-size: 315px;
  }

  .reducing__things {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "title . ."
      "list list list";
  }

  .reducing__things__title {
    grid-area: title;
    inline-size: initial;
  }

  .reducing__things__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-area: list;
  }

  .reducing__things__list .title__decor {
    max-block-size: min-content;
  }

  .advices {
    grid-template-columns: 1fr calc((100% - 39px) / 3 * 2 + 19px);
  }

  .gallery__list {
    grid-template-rows: 260px 315px 433px;
  }
}