.page {
  background-image: var(--bg-image) ;
  background-position: center;
  background-repeat: no repeat;
  background-attachment: fixed;
  background-color: var(--bg-color);
  color: var(--main-text-color);
  font-family: 'IBM Plex mono', serif;
  font-size: 1.125em; 
  display: block;
  gap: var(--m-gap);
  padding: 10px;
  inline-size: 100vw;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
}

.header::before {
  content: "";
  border-inline-end: 1px solid var(--border-color);
  border-block-start: 1px solid var(--border-color);
  block-size: 25px;
  inline-size: 25px;
  justify-self: end;
}

.header::after {
  content: "";
  border-inline-start: 1px solid var(--border-color);
  border-block-end: 1px solid var(--border-color);
  block-size: 25px;
  inline-size: 25px;
}

.bulb {
  color: var(--accent-color);
  position: absolute;
  justify-self: end;
  margin-inline-end: 28px;
  display: var(--visibility);
}

.bulb::after {
  content: "";
  position: absolute;
  align-self: center;
  margin-left: 10px;
  width: 9px; 
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px color-mix(in srgb, var(--accent-color) 40%, transparent);
  filter: blur(1px);
  background-color: var(--accent-color);
  display: var(--visibility);
}

.header, .footer {
  /*уголки добавить в темной теме , с помощью псевдоэлементов 
  и указания границ для двух сторон.
  позиционирование уголков абсолютное
  отнрсительно родителя*/
}
 
.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.title {
  color: var(--title-color);
  font-size: var(--title-size);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title__description {
  block-size: fit-content;
  font-weight: 700;
}

.title__decor {
  background-color: var(--accent-color);
  color: var(--headline-color);
  font-size: 1em; 
}

.content {
  display: grid;
  gap: var(--l-gap);
  align-self: center;
}

.headline__accent {
  color: var(--accent-color);
  font-size: 1em; 
}

.segment {
  display: grid;
  gap: 20px;
}

.card__list {
  display: grid;
  gap: 20px;
}

.card {
  display: grid;
  gap: 10px;
}

.text__link {
  text-shadow: 2px 2px #FF0070;
  text-decoration: none;
}

.text__link:hover {
  border-block-end: 1px solid var(--text-color);
}

.text__link:focus {
  border: 1px solid var(--text-color);
}

.advices__list-item {
  background-color: var(--accent-color);
  color: var(--headline-color);
  font-weight: 400;
}

.gallery {
  display: grid;
  gap: var(--s-gap);
}

.gallery__picture {
  inline-size: 100%;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  align-content: center;
  justify-items: center;
}

.footer__title {

}

@media (min-width: 768px) {
  

  
}

@media (min-width: 1024px) {

}